%btn {
	display: inline-block;
	vertical-align: top;
	padding: rem(10px) rem(15px);
	color: $white;
	font-size: $font-size-base;
	line-height: 1.5;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
	border-radius: 0;
	background-color: $primary-100;
	transition: background-color 0.3s ease 0s, color 0.3s ease 0s, border-color 0.3s ease 0s;

	&:is(:hover, :focus),
	a:hover & {
		color: $white;
		text-decoration: none;
		background-color: $secondary-100;
		cursor: pointer;
	}
}

.btn {
	@extend %btn;

	&-link {
		margin-bottom: rem(2px);
		color: $primary-100;
		font-size: $font-size-base;
		text-decoration: none;
		border-bottom: 1px solid transparent;
		transition: background-color 0.3s ease 0s, color 0.3s ease 0s, border-color 0.3s ease 0s;

		&:hover,
		&:focus,
		a:hover & {
			color: $secondary-100;
			text-decoration: none;
			border-color: currentColor;
		}
	}
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
	@extend %btn;
	-webkit-appearance: button;
}