// css for WP-Admin
#wpadminbar {
	position: fixed;
}

.wrapper {
	position: relative;
	display: grid;
	// grid-template-columns: 1fr;
	// grid-template-rows: 1fr auto;
	grid-template: 1fr auto / 1fr;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.main-container {
	width: 100%;
	align-self: start;
}

.slick-dots {
	li {
		padding: 0 rem(5px);
	}
}