/*--- header ---*/
.main-header {
	width: 100%;
	height: auto;
	.brand {
		width: rem(200px);
	}
	/* nav */
	.navigation {
		ul {
			padding: 0;
			margin: 0;
			list-style: none;

			li {
				padding: 0;
				margin: 0;
				list-style: none;

				a {
					text-decoration: none;
				}
			}
		}
	}
}
