/*--- header ---*/
.main-header {
	width: 100%;
	height: auto;

	/* nav */
	.navigation {
		width: 100%;
		height: auto;

		ul {
			padding: 0;
			margin: 0;
			list-style: none;

			li {
				padding: 0;
				margin: 0;
				list-style: none;

				a {
					text-decoration: none;
				}
			}
		}
	}
}
