/* Note: If need Disable Decimal-value functionilty open function.scss file */
/* mini laptop resolution 1349 X 662 and 1246 X 681 and 1218 X 672 */
/* Mozila Firefox */
/* Slick Slider */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  --webkit-touch-callout: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }
  .slick-slider .slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0; }
    .slick-slider .slick-list:focus {
      outline: none; }
    .slick-slider .slick-list.dragging {
      cursor: pointer;
      cursor: hand; }
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .slick-slider .slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto; }
    .slick-loading .slick-slider .slick-track {
      visibility: hidden; }
  .slick-slide {
    height: 100%;
    min-height: 1px;
    display: none; }
    [dir="rtl"] .slick-slide {
      float: right; }
    .slick-slide img {
      display: block; }
    .slick-slide.slick-loading img {
      display: none; }
    .slick-slide.dragging img {
      pointer-events: none; }
    .slick-initialized .slick-slide {
      display: block; }
    .slick-loading .slick-slide {
      visibility: hidden; }
    .slick-vertical .slick-slide {
      display: block;
      height: auto;
      border: 1px solid transparent; }
  .slick-slider .slick-dots {
    position: relative;
    width: 100%;
    margin: 0.94rem 0;
    padding: 0;
    text-align: center; }
    .slick-slider .slick-dots li {
      display: inline-block;
      vertical-align: middle;
      list-style: none;
      line-height: 0;
      padding-left: 5px;
      padding-right: 5px; }
      .slick-slider .slick-dots li button {
        width: 20px;
        height: 20px;
        padding: 0;
        border: 2px solid #ffa34d;
        border-radius: 100%;
        font-size: 0;
        background-color: #1eb2a6;
        transition: background-color ease 0.3s, opacity ease 0.3s;
        outline: none; }
        .slick-slider .slick-dots li button:focus, .slick-slider .slick-dots li button:hover {
          outline: none;
          cursor: pointer;
          background-color: #ffa34d;
          opacity: 0.8; }
      .slick-slider .slick-dots li.slick-active button {
        background-color: #ffa34d; }

.slick-arrow {
  --sArrowWidth: 20px;
  position: absolute;
  top: calc(50% - (var(--sArrowWidth) / 2));
  padding: 0;
  width: var(--sArrowWidth);
  height: var(--sArrowWidth);
  font-size: 0;
  background-color: transparent;
  box-shadow: none;
  border: calc(var(--sArrowWidth) / 4) solid #1eb2a6;
  border-top: 0;
  border-right: 0;
  transition: border-color ease 0.3s;
  z-index: 9; }
  .slick-arrow:focus, .slick-arrow:hover {
    outline: none;
    cursor: pointer;
    border-color: #ffa34d; }
  .slick-arrow.slick-prev {
    left: 0;
    border-top: 0;
    border-right: 0;
    transform: rotate(45deg); }
  .slick-arrow.slick-next {
    right: 0;
    transform: rotate(-135deg); }
  .slick-arrow.slick-hidden {
    display: none; }

/* Reset css
   ========================================================================== */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
a,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-size: inherit;
  background: transparent;
  border: 0;
  outline: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

*,
*::before,
*::after {
  box-sizing: border-box; }

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
  display: block; }

/* Text-level semantics
   ========================================================================== */
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
audio,
video,
iframe {
  display: inline-block; }

/**
 * Basic typography style for copy text
 */
html {
  font-size: 100%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  min-height: 100%;
  height: auto;
  color: #000000;
  font-size: 1rem;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 1.5;
  background-color: #ffffff; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body {
      height: 100%; } }

h1,
.h1 {
  margin-bottom: 0.94rem;
  color: #000000;
  font-family: inherit;
  font-size: 3.13rem;
  font-weight: 700;
  line-height: 1.1; }
  @media (max-width: 767px) {
    h1,
    .h1 {
      font-size: 2.0866666667rem; } }
  h1 a,
  .h1 a {
    display: block;
    color: inherit;
    text-decoration: none; }

h2,
.h2 {
  margin-bottom: 0.94rem;
  color: #000000;
  font-family: inherit;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1; }
  @media (max-width: 767px) {
    h2,
    .h2 {
      font-size: 1.6666666667rem; } }
  h2 a,
  .h2 a {
    display: block;
    color: inherit;
    text-decoration: none; }

h3,
.h3 {
  margin-bottom: 0.94rem;
  color: #000000;
  font-family: inherit;
  font-size: 1.94rem;
  font-weight: 700;
  line-height: 1.1; }
  @media (max-width: 767px) {
    h3,
    .h3 {
      font-size: 1.2933333333rem; } }
  h3 a,
  .h3 a {
    display: block;
    color: inherit;
    text-decoration: none; }

h4,
.h4 {
  margin-bottom: 0.94rem;
  color: #000000;
  font-family: inherit;
  font-size: 1.57rem;
  font-weight: 700;
  line-height: 1.1; }
  @media (max-width: 767px) {
    h4,
    .h4 {
      font-size: 1.0466666667rem; } }
  h4 a,
  .h4 a {
    display: block;
    color: inherit;
    text-decoration: none; }

h5,
.h5 {
  margin-bottom: 0.94rem;
  color: #000000;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.1; }
  @media (max-width: 767px) {
    h5,
    .h5 {
      font-size: 0.8333333333rem; } }
  h5 a,
  .h5 a {
    display: block;
    color: inherit;
    text-decoration: none; }

h6,
.h6 {
  margin-bottom: 0.94rem;
  color: #000000;
  font-family: inherit;
  font-size: 1.13rem;
  font-weight: 700;
  line-height: 1.1; }
  @media (max-width: 767px) {
    h6,
    .h6 {
      font-size: 0.7533333333rem; } }
  h6 a,
  .h6 a {
    display: block;
    color: inherit;
    text-decoration: none; }

p {
  margin-bottom: 0.94rem; }
  p:last-child {
    margin-bottom: 0; }

ul {
  padding-left: 0.63rem;
  margin-bottom: 0.94rem; }
  ul ul {
    margin-bottom: 0; }
  ul li {
    padding-top: 0.38rem;
    padding-bottom: 0.38rem; }
    ul li:last-child {
      padding-bottom: 0; }

ol {
  padding-left: 1.25rem;
  margin-bottom: 0.94rem; }
  ol ol {
    margin-bottom: 0; }
  ol li {
    padding-top: 0.38rem;
    padding-bottom: 0.38rem; }
    ol li:last-child {
      padding-bottom: 0; }

blockquote {
  position: relative;
  display: block;
  margin-bottom: 1.57rem;
  padding: 1.25rem 1.25rem;
  text-align: left;
  line-height: 2;
  font-size: 1.13rem;
  font-style: italic;
  color: #000000;
  background-color: #dee3e2;
  border-left: 0.25rem solid #1eb2a6; }
  blockquote p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit; }

hr {
  height: 0;
  margin: 0.63rem auto 2.5rem;
  border: 0 #000000 solid;
  border-top-width: 0.07rem;
  overflow: visible; }

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: top;
  border: none; }
  img[src$=".svg"] {
    max-height: 100%; }

picture {
  display: inline-block;
  vertical-align: top; }

/* Link
------------------------------------------------------------------------------*/
a {
  color: #1eb2a6;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s; }
  a:hover, a:focus {
    color: #000000;
    text-decoration: underline;
    outline: none; }

/* Tables
------------------------------------------------------------------------------*/
table {
  border-spacing: 0;
  border-collapse: collapse; }
  table td {
    text-align: left;
    font-weight: normal; }

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; }

.table-bordered {
  width: 100%;
  max-width: 100%;
  text-align: left; }
  .table-bordered td,
  .table-bordered th {
    vertical-align: bottom;
    border-bottom: 0.07rem solid #dee3e2;
    padding: 0.63rem; }

/**
 * Main content containers
 */
.container, .container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.565rem;
  padding-right: 1.565rem; }
  @media (max-width: 767px) {
    .container, .container-fluid {
      padding-left: 1.25rem;
      padding-right: 1.25rem; } }

.container {
  max-width: 76.26rem; }
  .container-fluid {
    padding-right: 3.13rem;
    padding-left: 3.13rem; }

/* row and column */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.94rem;
  margin-left: -0.94rem; }
  .row.no-gutters {
    margin-right: 0;
    margin-left: 0; }
    .row.no-gutters > [class*="cell-"] {
      padding-right: 0;
      padding-left: 0; }

[class*="cell-"] {
  position: relative;
  width: 100%;
  padding-left: 0.94rem;
  padding-right: 0.94rem; }

/* align item */
.d-none {
  display: none; }
.d-block {
  display: block; }
.d-flex {
  display: flex;
  flex-wrap: wrap; }
  .d-flex-inline {
    display: inline-flex; }
  .d-flex img {
    align-self: center; }

.flex-nowrap {
  flex-wrap: nowrap; }

.align-items-start {
  align-items: flex-start; }
.align-items-center {
  align-items: center; }
.align-items-end {
  align-items: flex-end; }
.align-content-center {
  align-content: center; }
.alignnone {
  float: none;
  margin: 1.25rem 0; }
.aligncenter {
  display: block;
  clear: both;
  margin: 1.25rem auto; }
.alignleft {
  float: left;
  margin: 0 1.25rem 1.25rem 0; }
.alignright {
  float: right;
  margin: 0 0 1.25rem 1.25rem; }

.justify-content-start {
  justify-content: flex-start; }
.justify-content-center {
  justify-content: center; }
.justify-content-end {
  justify-content: flex-end; }
.justify-content-between {
  justify-content: space-between; }
.justify-content-around {
  justify-content: space-around; }
.justify-content-evenly {
  justify-content: space-evenly; }

/* text alignment */
.text-center {
  text-align: center; }
.text-right {
  text-align: right; }
.text-left {
  text-align: left; }

.bg-white {
  background-color: #ffffff; }

.text-white {
  color: #ffffff; }

.bg-black {
  background-color: #000000; }

.text-black {
  color: #000000; }

/* column structure */
.cell-1 {
  width: 8.3333333333%; }

.cell-2 {
  width: 16.6666666667%; }

.cell-3 {
  width: 25%; }

.cell-4 {
  width: 33.3333333333%; }

.cell-5 {
  width: 41.6666666667%; }

.cell-6 {
  width: 50%; }

.cell-7 {
  width: 58.3333333333%; }

.cell-8 {
  width: 66.6666666667%; }

.cell-9 {
  width: 75%; }

.cell-10 {
  width: 83.3333333333%; }

.cell-11 {
  width: 91.6666666667%; }

.cell-12 {
  width: 100%; }

.mt-30,
.m-30,
.my-30 {
  margin-top: 1.875rem; }

.pt-30,
.p-30,
.py-30 {
  padding-top: 1.875rem; }

.mb-30,
.m-30,
.my-30 {
  margin-bottom: 1.875rem; }

.pb-30,
.p-30,
.py-30 {
  padding-bottom: 1.875rem; }

.ml-30,
.m-30,
.mx-30 {
  margin-left: 1.875rem; }

.pl-30,
.p-30,
.px-30 {
  padding-left: 1.875rem; }

.mr-30,
.m-30,
.mx-30 {
  margin-right: 1.875rem; }

.pr-30,
.p-30,
.px-30 {
  padding-right: 1.875rem; }

@media (min-width: 576px) {
  .cell-sm-1 {
    width: 8.3333333333%; }

  .cell-sm-2 {
    width: 16.6666666667%; }

  .cell-sm-3 {
    width: 25%; }

  .cell-sm-4 {
    width: 33.3333333333%; }

  .cell-sm-5 {
    width: 41.6666666667%; }

  .cell-sm-6 {
    width: 50%; }

  .cell-sm-7 {
    width: 58.3333333333%; }

  .cell-sm-8 {
    width: 66.6666666667%; }

  .cell-sm-9 {
    width: 75%; }

  .cell-sm-10 {
    width: 83.3333333333%; }

  .cell-sm-11 {
    width: 91.6666666667%; }

  .cell-sm-12 {
    width: 100%; }

  .mt-sm-30,
  .m-sm-30,
  .my-sm-30 {
    margin-top: 1.875rem; }

  .pt-sm-30,
  .p-sm-30,
  .py-sm-30 {
    padding-top: 1.875rem; }

  .mb-sm-30,
  .m-sm-30,
  .my-sm-30 {
    margin-bottom: 1.875rem; }

  .pb-sm-30,
  .p-sm-30,
  .py-sm-30 {
    padding-bottom: 1.875rem; }

  .ml-sm-30,
  .m-sm-30,
  .mx-sm-30 {
    margin-left: 1.875rem; }

  .pl-sm-30,
  .p-sm-30,
  .px-sm-30 {
    padding-left: 1.875rem; }

  .mr-sm-30,
  .m-sm-30,
  .mx-sm-30 {
    margin-right: 1.875rem; }

  .pr-sm-30,
  .p-sm-30,
  .px-sm-30 {
    padding-right: 1.875rem; }

  .d-sm-none {
    display: none; }
  .d-sm-block {
    display: block; }
  .d-sm-flex {
    display: flex; }

  .align-sm-items-start {
    align-items: flex-start; }
  .align-sm-items-center {
    align-items: center; }
  .align-sm-items-end {
    align-items: flex-end; }
  .align-sm-content-center {
    align-content: center; }

  .justify-sm-content-start {
    justify-content: flex-start; }
  .justify-sm-content-center {
    justify-content: center; }
  .justify-sm-content-end {
    justify-content: flex-end; }
  .justify-sm-content-between {
    justify-content: space-between; }
  .justify-sm-content-around {
    justify-content: space-around; }
  .justify-sm-content-evenly {
    justify-content: space-evenly; }

  .text-sm-center {
    text-align: center; }
  .text-sm-right {
    text-align: right; }
  .text-sm-left {
    text-align: left; } }
@media (min-width: 768px) {
  .cell-md-1 {
    width: 8.3333333333%; }

  .cell-md-2 {
    width: 16.6666666667%; }

  .cell-md-3 {
    width: 25%; }

  .cell-md-4 {
    width: 33.3333333333%; }

  .cell-md-5 {
    width: 41.6666666667%; }

  .cell-md-6 {
    width: 50%; }

  .cell-md-7 {
    width: 58.3333333333%; }

  .cell-md-8 {
    width: 66.6666666667%; }

  .cell-md-9 {
    width: 75%; }

  .cell-md-10 {
    width: 83.3333333333%; }

  .cell-md-11 {
    width: 91.6666666667%; }

  .cell-md-12 {
    width: 100%; }

  .mt-md-30,
  .m-md-30,
  .my-md-30 {
    margin-top: 1.875rem; }

  .pt-md-30,
  .p-md-30,
  .py-md-30 {
    padding-top: 1.875rem; }

  .mb-md-30,
  .m-md-30,
  .my-md-30 {
    margin-bottom: 1.875rem; }

  .pb-md-30,
  .p-md-30,
  .py-md-30 {
    padding-bottom: 1.875rem; }

  .ml-md-30,
  .m-md-30,
  .mx-md-30 {
    margin-left: 1.875rem; }

  .pl-md-30,
  .p-md-30,
  .px-md-30 {
    padding-left: 1.875rem; }

  .mr-md-30,
  .m-md-30,
  .mx-md-30 {
    margin-right: 1.875rem; }

  .pr-md-30,
  .p-md-30,
  .px-md-30 {
    padding-right: 1.875rem; }

  .d-md-none {
    display: none; }
  .d-md-block {
    display: block; }
  .d-md-flex {
    display: flex; }

  .align-md-items-start {
    align-items: flex-start; }
  .align-md-items-center {
    align-items: center; }
  .align-md-items-end {
    align-items: flex-end; }
  .align-md-content-center {
    align-content: center; }

  .justify-md-content-start {
    justify-content: flex-start; }
  .justify-md-content-center {
    justify-content: center; }
  .justify-md-content-end {
    justify-content: flex-end; }
  .justify-md-content-between {
    justify-content: space-between; }
  .justify-md-content-around {
    justify-content: space-around; }
  .justify-md-content-evenly {
    justify-content: space-evenly; }

  .text-md-center {
    text-align: center; }
  .text-md-right {
    text-align: right; }
  .text-md-left {
    text-align: left; } }
@media (min-width: 992px) {
  .cell-lg-1 {
    width: 8.3333333333%; }

  .cell-lg-2 {
    width: 16.6666666667%; }

  .cell-lg-3 {
    width: 25%; }

  .cell-lg-4 {
    width: 33.3333333333%; }

  .cell-lg-5 {
    width: 41.6666666667%; }

  .cell-lg-6 {
    width: 50%; }

  .cell-lg-7 {
    width: 58.3333333333%; }

  .cell-lg-8 {
    width: 66.6666666667%; }

  .cell-lg-9 {
    width: 75%; }

  .cell-lg-10 {
    width: 83.3333333333%; }

  .cell-lg-11 {
    width: 91.6666666667%; }

  .cell-lg-12 {
    width: 100%; }

  .mt-lg-30,
  .m-lg-30,
  .my-lg-30 {
    margin-top: 1.875rem; }

  .pt-lg-30,
  .p-lg-30,
  .py-lg-30 {
    padding-top: 1.875rem; }

  .mb-lg-30,
  .m-lg-30,
  .my-lg-30 {
    margin-bottom: 1.875rem; }

  .pb-lg-30,
  .p-lg-30,
  .py-lg-30 {
    padding-bottom: 1.875rem; }

  .ml-lg-30,
  .m-lg-30,
  .mx-lg-30 {
    margin-left: 1.875rem; }

  .pl-lg-30,
  .p-lg-30,
  .px-lg-30 {
    padding-left: 1.875rem; }

  .mr-lg-30,
  .m-lg-30,
  .mx-lg-30 {
    margin-right: 1.875rem; }

  .pr-lg-30,
  .p-lg-30,
  .px-lg-30 {
    padding-right: 1.875rem; }

  .d-lg-none {
    display: none; }
  .d-lg-block {
    display: block; }
  .d-lg-flex {
    display: flex; }

  .align-lg-items-start {
    align-items: flex-start; }
  .align-lg-items-center {
    align-items: center; }
  .align-lg-items-end {
    align-items: flex-end; }
  .align-lg-content-center {
    align-content: center; }

  .justify-lg-content-start {
    justify-content: flex-start; }
  .justify-lg-content-center {
    justify-content: center; }
  .justify-lg-content-end {
    justify-content: flex-end; }
  .justify-lg-content-between {
    justify-content: space-between; }
  .justify-lg-content-around {
    justify-content: space-around; }
  .justify-lg-content-evenly {
    justify-content: space-evenly; }

  .text-lg-center {
    text-align: center; }
  .text-lg-right {
    text-align: right; }
  .text-lg-left {
    text-align: left; } }
@media (min-width: 1200px) {
  .cell-xl-1 {
    width: 8.3333333333%; }

  .cell-xl-2 {
    width: 16.6666666667%; }

  .cell-xl-3 {
    width: 25%; }

  .cell-xl-4 {
    width: 33.3333333333%; }

  .cell-xl-5 {
    width: 41.6666666667%; }

  .cell-xl-6 {
    width: 50%; }

  .cell-xl-7 {
    width: 58.3333333333%; }

  .cell-xl-8 {
    width: 66.6666666667%; }

  .cell-xl-9 {
    width: 75%; }

  .cell-xl-10 {
    width: 83.3333333333%; }

  .cell-xl-11 {
    width: 91.6666666667%; }

  .cell-xl-12 {
    width: 100%; }

  .mt-xl-30,
  .m-xl-30,
  .my-xl-30 {
    margin-top: 1.875rem; }

  .pt-xl-30,
  .p-xl-30,
  .py-xl-30 {
    padding-top: 1.875rem; }

  .mb-xl-30,
  .m-xl-30,
  .my-xl-30 {
    margin-bottom: 1.875rem; }

  .pb-xl-30,
  .p-xl-30,
  .py-xl-30 {
    padding-bottom: 1.875rem; }

  .ml-xl-30,
  .m-xl-30,
  .mx-xl-30 {
    margin-left: 1.875rem; }

  .pl-xl-30,
  .p-xl-30,
  .px-xl-30 {
    padding-left: 1.875rem; }

  .mr-xl-30,
  .m-xl-30,
  .mx-xl-30 {
    margin-right: 1.875rem; }

  .pr-xl-30,
  .p-xl-30,
  .px-xl-30 {
    padding-right: 1.875rem; }

  .d-xl-none {
    display: none; }
  .d-xl-block {
    display: block; }
  .d-xl-flex {
    display: flex; }

  .align-xl-items-start {
    align-items: flex-start; }
  .align-xl-items-center {
    align-items: center; }
  .align-xl-items-end {
    align-items: flex-end; }
  .align-xl-content-center {
    align-content: center; }

  .justify-xl-content-start {
    justify-content: flex-start; }
  .justify-xl-content-center {
    justify-content: center; }
  .justify-xl-content-end {
    justify-content: flex-end; }
  .justify-xl-content-between {
    justify-content: space-between; }
  .justify-xl-content-around {
    justify-content: space-around; }
  .justify-xl-content-evenly {
    justify-content: space-evenly; }

  .text-xl-center {
    text-align: center; }
  .text-xl-right {
    text-align: right; }
  .text-xl-left {
    text-align: left; } }
@media (min-width: 1400px) {
  .cell-xxl-1 {
    width: 8.3333333333%; }

  .cell-xxl-2 {
    width: 16.6666666667%; }

  .cell-xxl-3 {
    width: 25%; }

  .cell-xxl-4 {
    width: 33.3333333333%; }

  .cell-xxl-5 {
    width: 41.6666666667%; }

  .cell-xxl-6 {
    width: 50%; }

  .cell-xxl-7 {
    width: 58.3333333333%; }

  .cell-xxl-8 {
    width: 66.6666666667%; }

  .cell-xxl-9 {
    width: 75%; }

  .cell-xxl-10 {
    width: 83.3333333333%; }

  .cell-xxl-11 {
    width: 91.6666666667%; }

  .cell-xxl-12 {
    width: 100%; }

  .mt-xxl-30,
  .m-xxl-30,
  .my-xxl-30 {
    margin-top: 1.875rem; }

  .pt-xxl-30,
  .p-xxl-30,
  .py-xxl-30 {
    padding-top: 1.875rem; }

  .mb-xxl-30,
  .m-xxl-30,
  .my-xxl-30 {
    margin-bottom: 1.875rem; }

  .pb-xxl-30,
  .p-xxl-30,
  .py-xxl-30 {
    padding-bottom: 1.875rem; }

  .ml-xxl-30,
  .m-xxl-30,
  .mx-xxl-30 {
    margin-left: 1.875rem; }

  .pl-xxl-30,
  .p-xxl-30,
  .px-xxl-30 {
    padding-left: 1.875rem; }

  .mr-xxl-30,
  .m-xxl-30,
  .mx-xxl-30 {
    margin-right: 1.875rem; }

  .pr-xxl-30,
  .p-xxl-30,
  .px-xxl-30 {
    padding-right: 1.875rem; }

  .d-xxl-none {
    display: none; }
  .d-xxl-block {
    display: block; }
  .d-xxl-flex {
    display: flex; }

  .align-xxl-items-start {
    align-items: flex-start; }
  .align-xxl-items-center {
    align-items: center; }
  .align-xxl-items-end {
    align-items: flex-end; }
  .align-xxl-content-center {
    align-content: center; }

  .justify-xxl-content-start {
    justify-content: flex-start; }
  .justify-xxl-content-center {
    justify-content: center; }
  .justify-xxl-content-end {
    justify-content: flex-end; }
  .justify-xxl-content-between {
    justify-content: space-between; }
  .justify-xxl-content-around {
    justify-content: space-around; }
  .justify-xxl-content-evenly {
    justify-content: space-evenly; }

  .text-xxl-center {
    text-align: center; }
  .text-xxl-right {
    text-align: right; }
  .text-xxl-left {
    text-align: left; } }
.btn, input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  padding: 0.63rem 0.94rem;
  vertical-align: top;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 0;
  background-color: #1eb2a6;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s, border-color 0.3s ease 0s; }
  .btn:hover, input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover, .btn:focus, input[type="button"]:focus,
  input[type="reset"]:focus,
  input[type="submit"]:focus, a:hover .btn, a:hover input[type="button"],
  a:hover input[type="reset"],
  a:hover input[type="submit"] {
    color: #ffffff;
    text-decoration: none;
    background-color: #ffa34d;
    cursor: pointer; }

.btn-link {
  margin-bottom: 0.13rem;
  color: #1eb2a6;
  font-size: 1rem;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s, border-color 0.3s ease 0s; }
  .btn-link:hover, .btn-link:focus, a:hover .btn-link {
    color: #ffa34d;
    text-decoration: none;
    border-color: currentColor; }

input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; }

form label {
  display: block;
  margin-bottom: 0.63rem;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 0.88rem;
  color: #000000; }

input,
textarea,
button,
select {
  font-family: "Open Sans", "Arial", sans-serif; }

input[type="url"],
input[type="text"],
input[type="submit"],
input[type="button"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="date"],
textarea {
  -webkit-appearance: none;
  outline: none; }

input[type="url"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[type="date"],
textarea,
select {
  width: 100%;
  height: 2.63rem;
  padding: 0 0.94rem;
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
  border: 0.07rem solid #ffa34d;
  border-radius: 0; }
  input[type="url"]:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="date"]:focus,
  textarea:focus,
  select:focus {
    border-color: #ffa34d;
    outline: none; }
  input[type="url"]::-webkit-input-placeholder,
  input[type="text"]::-webkit-input-placeholder,
  input[type="password"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="tel"]::-webkit-input-placeholder,
  input[type="search"]::-webkit-input-placeholder,
  input[type="number"]::-webkit-input-placeholder,
  input[type="date"]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder,
  select::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
    opacity: 1; }
  input[type="url"]:-moz-placeholder,
  input[type="text"]:-moz-placeholder,
  input[type="password"]:-moz-placeholder,
  input[type="email"]:-moz-placeholder,
  input[type="tel"]:-moz-placeholder,
  input[type="search"]:-moz-placeholder,
  input[type="number"]:-moz-placeholder,
  input[type="date"]:-moz-placeholder,
  textarea:-moz-placeholder,
  select:-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
    opacity: 1; }
  input[type="url"]::-moz-placeholder,
  input[type="text"]::-moz-placeholder,
  input[type="password"]::-moz-placeholder,
  input[type="email"]::-moz-placeholder,
  input[type="tel"]::-moz-placeholder,
  input[type="search"]::-moz-placeholder,
  input[type="number"]::-moz-placeholder,
  input[type="date"]::-moz-placeholder,
  textarea::-moz-placeholder,
  select::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
    opacity: 1; }
  input[type="url"]:-ms-input-placeholder,
  input[type="text"]:-ms-input-placeholder,
  input[type="password"]:-ms-input-placeholder,
  input[type="email"]:-ms-input-placeholder,
  input[type="tel"]:-ms-input-placeholder,
  input[type="search"]:-ms-input-placeholder,
  input[type="number"]:-ms-input-placeholder,
  input[type="date"]:-ms-input-placeholder,
  textarea:-ms-input-placeholder,
  select:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
    opacity: 1; }

textarea {
  display: block;
  height: 9.38rem;
  padding: 0.63rem 0.94rem;
  resize: none;
  overflow: auto; }

select {
  -webkit-appearance: none;
  padding-right: 1.875em;
  background-image: url("../images/select-down-arrow.svg");
  background-size: 0.88rem 0.44rem;
  background-position: right 0.5em center;
  background-repeat: no-repeat; }

select:focus {
  outline: none; }

/* for ie */
select::-ms-expand {
  display: none; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s; }

.form-group {
  margin-bottom: 1.25rem; }

.radio-btn-group .radio-option {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.63rem; }
  .radio-btn-group .radio-option:first-child {
    padding-left: 0; }
  .radio-btn-group .radio-option .radio-custom {
    opacity: 0;
    position: absolute; }
    .radio-btn-group .radio-option .radio-custom:focus + .radio-custom-label {
      outline: none; }
    .radio-btn-group .radio-option .radio-custom:checked + .radio-custom-label:before {
      background-color: #000000; }
  .radio-btn-group .radio-option .radio-custom-label {
    margin: 0;
    cursor: pointer;
    color: #000000; }
    .radio-btn-group .radio-option .radio-custom-label:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 0.63rem;
      width: 0.63rem;
      margin-top: 0.19rem;
      margin-right: 0.63rem;
      background-color: #ffffff;
      border: 0.13rem solid #ffffff;
      border-radius: 50%;
      box-shadow: 0 0 0px 2px #000000;
      cursor: pointer; }

.checkbox input[type="checkbox"] {
  display: none;
  width: initial;
  height: initial;
  margin-bottom: 0;
  padding: 0;
  cursor: pointer; }
  .checkbox input[type="checkbox"]:checked + label:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 7px;
    display: block;
    width: 0.32rem;
    height: 0.63rem;
    border: solid #ffa34d;
    border-width: 0 0.13rem 0.13rem 0;
    transform: rotate(42deg); }
.checkbox label {
  position: relative;
  cursor: pointer; }
  .checkbox label::before {
    content: "";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
    padding: 0.5rem;
    background-color: transparent;
    border: 0.13rem solid #ffa34d;
    -webkit-appearance: none;
    cursor: pointer; }

.wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  min-height: 100%; }

.main-container {
  width: 100%; }

.slick-dots li {
  padding: 0 0.32rem; }

/* responsive nav for small devices */
.hamburger {
  --humburgerBox: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  width: var(--humburgerBox);
  height: var(--humburgerBox);
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: transparent;
  z-index: 999; }
  @media (max-width: 720px) and (orientation: portrait) {
    .hamburger {
      display: flex; } }
  @media (max-width: 992px) and (orientation: landscape) {
    .hamburger {
      display: flex; } }
  .hamburger:hover, .hamburger:focus {
    background-color: transparent;
    outline: none;
    cursor: pointer; }
  .hamburger span {
    position: relative;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
    border-radius: 0;
    height: 2px;
    width: 100%;
    background: #1eb2a6;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    border-radius: 2px; }
    .hamburger span:before, .hamburger span:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      background: #1eb2a6;
      transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
      cursor: pointer;
      border-radius: 2px; }
    .hamburger span:before {
      top: -8px; }
    .hamburger span:after {
      bottom: -8px; }
  .hamburger.is-clicked span {
    background-color: transparent !important; }
    .hamburger.is-clicked span:before, .hamburger.is-clicked span:after {
      top: 0;
      background-color: #1eb2a6; }
    .hamburger.is-clicked span:before {
      transform: rotate(45deg); }
    .hamburger.is-clicked span:after {
      transform: translateY(-6px) rotate(-45deg);
      top: 6px; }

.mbnav {
  position: relative;
  display: none;
  z-index: 999; }
  @media (max-width: 991px) {
    .mbnav {
      display: block; } }
  .mbnav.is-open .btn-wrap {
    transform: translateY(0); }
  .mbnav__state {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    z-index: 999;
    pointer-events: none; }
  .mbnav__inner {
    position: relative;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    pointer-events: none; }
  .mbnav__top {
    display: flex;
    justify-content: space-between;
    background: #ffa34d; }
  .mbnav__logo {
    color: #ffffff;
    padding: 15px; }
  .mbnav .menu-wrap {
    --leftSlide: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: var(--leftSlide);
    transition: 0.4s ease;
    pointer-events: none; }
    .mbnav .menu-wrap .menu-wrap {
      right: -100%;
      opacity: 0;
      visibility: hidden; }
    .mbnav .menu-wrap > .menu-inner {
      max-height: 100%;
      padding-top: 5.32rem;
      padding-bottom: 3.13rem;
      background-color: #ffffff;
      pointer-events: auto; }
  .mbnav ul {
    position: static;
    left: 0;
    width: 100%;
    max-height: calc(100vh - 145px);
    margin: 0;
    padding: 0 20px;
    transition: 0.4s ease;
    overflow: hidden auto; }
    .mbnav ul li.is-open > .menu-wrap {
      opacity: 1;
      visibility: visible; }
    .mbnav ul li:not(.btn-wrap) {
      position: static;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0;
      margin: 0 0 0 0;
      list-style: none;
      color: #1eb2a6;
      font-size: 20px;
      font-weight: 500;
      border-bottom: 1px solid #dee3e2; }
      .mbnav ul li:not(.btn-wrap):last-child {
        border-bottom: 0; }
      .mbnav ul li:not(.btn-wrap)::before {
        display: none; }
      .mbnav ul li:not(.btn-wrap).has-sub a::after {
        display: none; }
      .mbnav ul li:not(.btn-wrap) a::after, .mbnav ul li:not(.btn-wrap) .mbnav__caret::before {
        content: "";
        --sArrowWidth: 10px;
        display: flex;
        align-items: center;
        margin: auto;
        width: var(--sArrowWidth);
        height: var(--sArrowWidth);
        border: calc(var(--sArrowWidth) / 4) solid #1eb2a6;
        border-left: 0;
        border-bottom: 0;
        transform: rotate(45deg); }
      .mbnav ul li:not(.btn-wrap) a {
        position: relative;
        display: block;
        padding: 10px 0;
        color: currentColor;
        line-height: 1.3;
        text-decoration: none !important;
        z-index: 2;
        cursor: pointer;
        flex: 1 1 auto;
        order: -1; }
        .mbnav ul li:not(.btn-wrap) a::after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          margin-left: auto;
          margin-right: 0;
          display: none; }
      .mbnav__caret {
        display: grid;
        align-items: center;
        justify-content: flex-end;
        width: 30px;
        height: auto;
        cursor: pointer;
        z-index: 1; }
        .mbnav__caret:not(.trigger-caret) {
          pointer-events: none; }
        .color-mbnav .mbnav__caret::before {
          color: #1eb2a6 !important; }
      .mbnav ul li:not(.btn-wrap).is-open > .mbnav__caret:after {
        transform: rotate(0); }
      .mbnav ul li:not(.btn-wrap).has-sub > a {
        flex: 1 1 auto; }
      .mbnav ul li:not(.btn-wrap) .btn-wrap {
        position: fixed;
        bottom: 20px;
        left: 20px;
        width: calc(100% - 40px);
        margin: 0;
        transform: translateY(200%);
        transition: 0.4s ease-in-out; }
        .mbnav ul li:not(.btn-wrap) .btn-wrap::before {
          display: none; }
        .mbnav ul li:not(.btn-wrap) .btn-wrap a {
          display: block; }
    .mbnav ul ul li {
      font-size: 16px; }
      .mbnav ul ul li a {
        padding-left: 25px; }
      .mbnav ul ul li li {
        font-size: 14px; }
        .mbnav ul ul li li a {
          padding-left: 35px; }
    .mbnav ul > li > .sub-menu {
      position: absolute;
      left: 100%; }
    .mbnav ul .back-click {
      width: 100%;
      order: -1;
      color: currentColor;
      padding: 15px 0;
      font-weight: 400; }
      .mbnav ul .back-click::before {
        content: "a";
        font-family: "zealplus" !important;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        text-transform: none;
        position: static;
        display: inline-block;
        width: auto;
        height: auto;
        color: #1eb2a6;
        margin-right: 15px;
        margin-bottom: 3px;
        font-size: 18px;
        border: 0; }
  .mbnav__backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden;
    transition: all 0.4s ease-in;
    background: rgba(0, 0, 0, 0.55);
    opacity: 0;
    z-index: -1; }
  .mbnav__overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.4s ease-in;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 99; }
    .mbnav__overlay.is-show {
      opacity: 1;
      visibility: visible; }
  .mbnav.is-open .mbnav__state {
    left: 0; }
  .mbnav.is-open .mbnav__backdrop {
    opacity: 1;
    z-index: 999;
    visibility: visible; }

/*--- header ---*/
.main-header {
  width: 100%;
  height: auto;
  /* nav */ }
  .main-header .brand {
    width: 12.5rem; }
  .main-header .navigation ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    .main-header .navigation ul li {
      padding: 0;
      margin: 0;
      list-style: none; }
      .main-header .navigation ul li a {
        text-decoration: none; }

/*--- footer ---*/
.main-footer {
  width: 100%;
  height: auto;
  background: #1eb2a6;
  line-height: normal; }

/*# sourceMappingURL=style.css.map */
